{% extends '@EasyAdmin/page/content.html.twig' %}



{% block head_stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/easyadmin.css') }}">
{% endblock %}

{% block main %}




 
<h1 style="color:rgb(131, 131, 215)">Gestion Vice_City Hotel</h1>
<a style="font-size:25px; 
color:black"  href="{{ path('home') }}">Accueil</a>
 




{% endblock %}

